## Topic : part 3- Map function in Python
The map function in Python applies a given function to all the items in an
input list or anyother iterable and returns a map object, which is an iterator.
This is particularly useful for transforming data comprehensively.

Syntax:
            map(function,ittrable)

In [2]:
# Square of number 
def squre(n):
    return n**2 
squre(2) # it is use for only one number

4

In [3]:
# Ues map with square function 
numbers=[1,2,3,4,5,6,7,8,9]
squared_list=list(map(squre,numbers))
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# Map with Lambda function 
squared_list_lambda=list(map(lambda x: x**2,numbers))
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
# Map function with multible ittrable 
number_s1=[1,2,3]
number_s2=[4,5,6]
addtion=list(map(lambda x,y:x+y,number_s1,number_s2))
print(addtion)

[5, 7, 9]

In [6]:
# converting String number into int 
string_number=['1','2','3','4','5']
int_number=list(map(int,string_number))
print(int_number)

[1, 2, 3, 4, 5]

In [7]:
# converting lower case to uper case 
word=['apple','banana','grapes','cherry']
upper_word=list(map(str.upper,word))
print(upper_word)

['APPLE', 'BANANA', 'GRAPES', 'CHERRY']

In [8]:
def get_name(person):
    return person['name']

In [11]:
people=[
    {'name':'Krish', 'age': 32},
    {'name':'Jack', 'age': 33},
    {'name':'Bhavesh','age':20},
    {'name':'pranay','age':21}
]

In [12]:
name_list=list(map(get_name,people))
print(name_list)

['Krish', 'Jack', 'Bhavesh', 'pranay']